<%- include("partials/header"); -%>

<section class="container-fluid d-flex flex-wrap">
  <!-- * Right Container -->
  <div class="right-container">
    <h2 id="logo">Teach-O-Pedia</h2>
    <div class="big-container">
      <!-- Small Container One -->
      <div class="sm-containers">
        <div class="gif-container">
          <img
            class="gif-image"
            src="./images/social-care-unscreen.gif"
            alt="icon"
          />
        </div>
        <div class="description">
          <h4>About Us</h4>
          <p>
            This website provides assitance to students to find quality teachers
            according to their educational requirements.
          </p>
        </div>
      </div>

      <!-- Small Container Two -->

      <div class="sm-containers">
        <div class="gif-container">
          <img
            class="gif-image"
            src="./images/cloud-network-unscreen.gif"
            alt="icon"
          />
        </div>
        <div class="description">
          <h4>Online and Offline Mode</h4>
          <p>
            Classes can be conducted either in online or offline mode in accordance to both students and teachers convenience.
          </p>
        </div>
      </div>

      <!-- Small Container Three -->

      <div class="sm-containers">
        <div class="gif-container">
          <img
            class="gif-image"
            src="./images/money-bag-unscreen.gif"
            alt="icon"
          />
        </div>
        <div class="description">
          <h4>Pocket Friendly Fees</h4>
          <p>
            Students can pay according to their booking appointments after consulting their respective tutors.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- * Left Container -->
  <div class="left-container d-flex flex-column justify-content-center">
    <div>
      <h3>Log In</h3>
      <hr />
    </div>
    <% if(errorCode === '404') { %>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
          <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Please enter a valid username and password
            </div>
          </div>
    <% } %>  
    <div class="form-container">
      <form name="login-form" action="/login" method="post">
        <label for="user-name">User Id:</label>
        <input
          type="email"
          name="userName"
          placeholder="Enter registered mail id"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          required
        />
        <button class="submit btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
    <p class="forward-link">Don't have an account? <a href="/">Sign Up</a></p>
  </div>
</section>

<!-- BootStrap JS CDN -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
<!-- Core js file -->

<%- include("partials/footer"); -%>
