// Variables

$f-roboto: "Roboto", "sans-serif";
$f-raleway: "Raleway", "sans-serif";
$bg-gradient: linear-gradient(
  45deg,
  hsl(302deg 93% 77%) 0%,
  hsl(315deg 100% 77%) 11%,
  hsl(325deg 100% 76%) 22%,
  hsl(336deg 100% 76%) 33%,
  hsl(348deg 100% 77%) 44%,
  hsl(1deg 100% 78%) 56%,
  hsl(13deg 100% 75%) 67%,
  hsl(21deg 100% 73%) 78%,
  hsl(27deg 100% 71%) 89%,
  hsl(33deg 93% 69%) 100%
);
