@import "var";
@import "mixin";

// * All tags

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

// * Common classes

.row {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 1rem 1rem 1rem 0;
}

// * All other ids and classes section wise

// ? Header section

.active {
  border-bottom: 2px solid black;
}

// .dropdown-menu {
//   background: transparent;
// }

.collapse {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  padding: 1rem 0;
  height: 10vh;
}

.form {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 1rem 0;
  label {
    font-family: $f-roboto;
    color: black;
  }
  select {
    @include additional;
    margin: 0 0.5rem;
    width: 60%;
  }
}

.navbar-brand {
  @include logo;
}

.navbar-nav {
  font-family: $f-raleway;
  font-weight: 600;
}

.nav-link {
  color: black;
}

.submit {
  display: flex;
  border-radius: 1rem;
  font-family: $f-roboto;
  text-align: center;
  align-items: center;
  padding: 0.2rem 2rem;
  margin: 0;
}

.top-container {
  padding: 0.5rem 1.5rem;
  background-image: $bg-gradient;
  background-size: cover;
  width: 100%;
}

// Small screens

@media only screen and (max-width: 40em) {
  .collapse {
    display: block;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 0.5rem 0;
    label {
      margin-bottom: 0.5rem;
    }
    select {
      width: 90%;
      margin-bottom: 0.5rem;
    }
  }
  .form-container {
    padding: 0.2rem 0;
    height: auto;
  }
  
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .collapse {
    display: block;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// ? User Section

.booking-button {
  padding: 0 0.8rem;
  border-radius: 1rem;
  border: 1px solid #0074d9;
  color: white;
  background-color: #0074d9;
  font-family: $f-roboto;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: none;
  &:hover {
    background: transparent;
    border: 1px solid #0074d9;
    color: #0074d9;
  }
}

.close {
  // display: block;
  margin-right: 0;
  margin-left: auto;
}

.description {
  margin-top: 0.8rem;
  button {
    margin-top: 0.5rem;
  }
}

.image-part {
  img {
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.link-button {
  padding: 0 0.8rem;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid #0074d9;
  color: #0074d9;
  font-family: $f-roboto;
  font-weight: 400;
  font-size: 0.9rem;
  &:hover {
    color: white;
    background-color: #0074d9;
  }
}

.time-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-family: $f-roboto;
    font-weight: 600;
  }
}

.user {
  width: 100%;
  padding: 1rem 2rem;
  h4 {
    font-family: $f-raleway;
    font-weight: 500;
    font-size: 1.5rem;
  }
  p {
    font-family: $f-roboto;
  }
}

.user-container {
  padding: 1rem 0;
}

// Student Dashboard part

.user-part {
  border: 1px solid black;
}

.card {
  // margin: 0 0.1rem;
}

// Small screens

@media only screen and (max-width: 40em) {
  .user {
    padding: 1rem 2rem;
  }

  .card {
    margin: 0.2rem 0;
  }

  .user-part{
    margin: 0.2rem 0;
  }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .user {
    padding: 1rem 1.5rem;
  }

  .card {
    margin: 0.2rem 0;
  }

  .user-part{
    padding: 1.5rem 1.2rem;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
