@import "var";
@import "mixin";
/* * All Tag Section */

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* * Common Class Section */
.container-fluid {
  padding: 0;
}

.description {
  padding: 0 1rem 0 1.5rem;
  height: 5rem;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  h4 {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
    font-family: "Roboto", "sans-serif";
  }
}

.gif-container {
  width: 7rem;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.gif-image {
  width: 5rem;
  height: auto;
}

.sm-containers {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem 0;
  height: 7rem;
}

/* * All ids and Classes */

// ?Right Contaner Portion


#logo {
  font-family: "Pacifico", cursive;
  font-size: 1.7rem;
}

.big-container {
  margin-top: 4rem;
  padding: 0 2rem;
}

.right-container {
  background-image: $bg-gradient;
  //   background-image: linear-gradient(
  //   45deg,
  //   hsl(240deg 95% 64%) 0%,
  //   hsl(213deg 100% 50%) 11%,
  //   hsl(207deg 100% 50%) 22%,
  //   hsl(201deg 100% 50%) 33%,
  //   hsl(197deg 100% 50%) 44%,
  //   hsl(193deg 100% 50%) 56%,
  //   hsl(187deg 100% 48%) 67%,
  //   hsl(176deg 100% 45%) 78%,
  //   hsl(165deg 100% 48%) 89%,
  //   hsl(157deg 100% 50%) 100%
  // );
  width: 50%;
  height: 100vh;
  padding: 1.5rem 2.5rem;
  border-radius: 0 2rem 2rem 0;
}

// Small screens

@media only screen and (max-width: 40em) { 
  .right-container{
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: auto;
    padding: 1.5rem 2rem;
  }
  .sm-containers {
    display: flex;
    // grid-template-columns: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    height: auto;
    // text-align: center;
  }
  .big-container {
    margin-top: 4rem;
    padding: 0 1rem;
  }
  .description {
    padding: 0 1rem 0 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    // align-self: center;
    text-align: center;
    h4 {
      font-size: 1.6rem;
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
    p {
      font-size: 0.8rem;
      margin: 0;
      font-family: "Roboto", "sans-serif";
    }
  }
  
  .gif-container {
    width: 7rem;
    align-self: center;
    margin-bottom: 0.8rem;
    height: auto;
  }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .right-container{
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: auto;
  }
  .sm-containers {
    display: flex;
    // grid-template-columns: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    height: auto;
    // text-align: center;
  }
  .big-container {
    margin-top: 4rem;
    padding: 0 1rem;
  }
  .description {
    padding: 0 1rem 0 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    // align-self: center;
    text-align: center;
    h4 {
      font-size: 1.6rem;
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
    p {
      font-size: 0.8rem;
      margin: 0;
      font-family: "Roboto", "sans-serif";
    }
  }
  
  .gif-container {
    width: 7rem;
    align-self: center;
    margin-bottom: 1rem;
    height: auto;
  }
 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens



// ? Left Container Protion

.form-container {
  font-family: "Roboto", sans-serif;
  form label {
    font-weight: 500;
  }
}

.forward-link {
  text-align: center;
  margin: 1.5rem 0;
  font-family: $f-roboto;
  font-weight: 500;
}

.left-container {
  width: 50%;
  height: 100%;
  padding: 1.5rem 2.5rem;
  div > h3 {
    font-size: 2rem;
    font-family: "Raleway", "sans-serif";
    font-weight: 800;
    margin: 0;
  }
  hr {
    height: 0.3rem;
    background-color: #0c0d0c;
    border: none;
  }
  form input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    @include additional;
    width: 100%;
  }
}

.additional-part {
  @include additional;
}

.submit {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 40em) { 
  .left-container{
    width: 100%;
  }
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .left-container{
    width: 100%;
  }
 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */