/* * All Tag Section */
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* * Common Class Section */
.container-fluid {
  padding: 0;
}

.description {
  padding: 0 1rem 0 1.5rem;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.description h4 {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.description p {
  font-size: 0.8rem;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

.gif-container {
  width: 7rem;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.gif-image {
  width: 5rem;
  height: auto;
}

.sm-containers {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem 0;
  height: 7rem;
}

/* * All ids and Classes */
#logo {
  font-family: "Pacifico", cursive;
  font-size: 1.7rem;
}

.big-container {
  margin-top: 4rem;
  padding: 0 2rem;
}

.right-container {
  background-image: linear-gradient(45deg, hsl(302deg, 93%, 77%) 0%, hsl(315deg, 100%, 77%) 11%, hsl(325deg, 100%, 76%) 22%, hsl(336deg, 100%, 76%) 33%, hsl(348deg, 100%, 77%) 44%, hsl(1deg, 100%, 78%) 56%, hsl(13deg, 100%, 75%) 67%, hsl(21deg, 100%, 73%) 78%, hsl(27deg, 100%, 71%) 89%, hsl(33deg, 93%, 69%) 100%);
  width: 50%;
  height: 100vh;
  padding: 1.5rem 2.5rem;
  border-radius: 0 2rem 2rem 0;
}

@media only screen and (max-width: 40em) {
  .right-container {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: auto;
    padding: 1.5rem 2rem;
  }

  .sm-containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    height: auto;
  }

  .big-container {
    margin-top: 4rem;
    padding: 0 1rem;
  }

  .description {
    padding: 0 1rem 0 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .description h4 {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .description p {
    font-size: 0.8rem;
    margin: 0;
    font-family: "Roboto", "sans-serif";
  }

  .gif-container {
    width: 7rem;
    align-self: center;
    margin-bottom: 0.8rem;
    height: auto;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .right-container {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    height: auto;
  }

  .sm-containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    height: auto;
  }

  .big-container {
    margin-top: 4rem;
    padding: 0 1rem;
  }

  .description {
    padding: 0 1rem 0 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .description h4 {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .description p {
    font-size: 0.8rem;
    margin: 0;
    font-family: "Roboto", "sans-serif";
  }

  .gif-container {
    width: 7rem;
    align-self: center;
    margin-bottom: 1rem;
    height: auto;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
.form-container {
  font-family: "Roboto", sans-serif;
}
.form-container form label {
  font-weight: 500;
}

.forward-link {
  text-align: center;
  margin: 1.5rem 0;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
}

.left-container {
  width: 50%;
  height: 100%;
  padding: 1.5rem 2.5rem;
}
.left-container div > h3 {
  font-size: 2rem;
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  margin: 0;
}
.left-container hr {
  height: 0.3rem;
  background-color: #0c0d0c;
  border: none;
}
.left-container form input[type=text],
.left-container input[type=email],
.left-container input[type=tel],
.left-container input[type=password] {
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: #0c0d0c;
  font-family: "Roboto", "sans-serif";
  margin: 0.3rem 0;
  border: 1.5px solid black;
  width: 100%;
}

.additional-part {
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: #0c0d0c;
  font-family: "Roboto", "sans-serif";
  margin: 0.3rem 0;
  border: 1.5px solid black;
}

.submit {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 40em) {
  .left-container {
    width: 100%;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .left-container {
    width: 100%;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens *//*# sourceMappingURL=signin.css.map */